@charset "utf-8";
/* CSS Document */
/* body { */
/* 	font: 12px/150% Arial, Verdana, "\5b8b\4f53"; */
/* 	color: #666; */
/* 	background: #fff; */
/* } */

/* a { */
/* 	text-decoration: none; */
/* 	color: #666; */
/* } */

/* li { */
/* 	list-style: none; */
/* } */

/* img { */
/* 	border: 0; */
/* 	display: inline-block; */
/* } */
.table-bg {
	height: 200px;
	background-image: url("../image/notdata.jpg");
	background-repeat: no-repeat;
	background-position: center;
}
.error{color:#E74C3C !important;}
.tips{color:#F39C12 !important;}
.ok{color:#27AE60 !important;}
.next{color:#3498DB !important;}

