@charset "utf-8";
/* CSS Document */
html{height: auto;}
body {
	font-family:"微软雅黑";
	color: #666;
	background: #fff;
	height: 100%;
	padding:1%;
	min-width: 1200px;
}
a {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: none;
	color: #1abc9c;
}

ul,li {
	list-style: none;
}

.buttonTitle{
	width:98%;
	height:40px;
	}
.buttonTitle .userButton{
	width: 100px;
	height: 40px;
    line-height: 40px;
	text-align:center;
	font-size:13px;
	background-color:#3498DB;
	color:#FFF;
	float:left;
	cursor:pointer;
	margin-left: 20px;
	}
	
.buttonTitle .clean{
	width: 100px;
	height: 40px;
    line-height: 40px;
	text-align:center;
	font-size:13px;
	background-color:#3498DB;
	color:#FFF;
	float:left;
	cursor:pointer;
	margin-left: 20px;
	}
	
.buttonTitle .publicButton{
	width: 100px;
	height: 40px;
    line-height: 40px;
	text-align:center;
	font-size:13px;
	background-color:#3498DB;
	color:#FFF;
	float:left;
	cursor:pointer;
	}
	
.buttonTitle .addButton{
	width:50px;
	height:40px;
	background-color:#3498DB;
	float:right;
	cursor: pointer;
	}
	
.buttonTitle .addButton .addButton-icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #FFF;
    font-size: 16px;
}
.buttonTitle .addButton .addButton-icon {
	width:50px;
	height:20px;
	margin-top:9px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #FFF;
}
.buttonTitle .addButton .addButton-icon:before {
	margin-left:14px;
    content: "\f067";
    font-size: 27px;
    cursor:pointer;
}

.centers{
	width: 98%;
	min-height: 400px;
	overflow: hidden;
	margin-top: 15px;
}

.centers .content{
	width: 100%;
}
.centers .content .year{
	margin-left: 69px;
	height: 30px;
	line-height: 30px;
	font-size: 17px;
	margin-top: 20px;
}
.content_table{
	height: auto;
	overflow: hidden;
}
.content_table .month{
	width: 4.5%;
	text-align: center;
	height: 100%;
	float: left;
	padding-top: 3px;
	color: #999;
	font-size: 12px;
}
.content_table .time_zou{
	float: left;
	height: 100%;
	width: 2.5%;
}
.content_table .time_zou .zou_circular{
	width: 20px;
    height: 20px;
    line-height:20px;
    border-radius: 10px;
	background-color: #3498DB;
	display: block;
	margin: 0 auto;
	padding: 5px 0;
}
.content_table .time_zou .min_yuan{
	width: 10px;
    height: 10px;
    border-radius: 7px;
	background-color: #FFF;
	display: block;
	margin: 0 auto;
}

.content_table .time_zou .zou_height{
	width: 3px;
	height: 160px;
	background-color: #3498DB;
	display: block;
	margin: -2px auto 0 auto;
}
.content_table .content_conts{
	width: 93%;
	float: left;
	margin-left: -1.16%;
}
.content_table .content_conts .title{
	width: 100%;
	height: 25px;
	border-bottom: 2px solid #3498DB;
}
.content_table .content_conts .title .title_left{
	margin-left: 33px;
	float: left;
}
.content_table .content_conts .title .title_right{
	float: right;
}

.content_table .content_conts table{ width:100%; border-collapse:collapse;border-spacing: 0;}
.content_table .content_conts .content_title{
	width: 100%;
	height: 33px;
	line-height: 33px;
	background-color: #1ABC9C;
	color: #FFF;
	font-size: 15px;
}
.content_table .content_conts .content_title td{
	padding-left: 15px;
}
.content_table .content_conts table tbody tr{
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
dl.main-box-list dt em {
    position: relative;
    top: 2px;
    margin-right: 8px;
    font-size: 14px;
    color: #FF1800;
}
.content_table .content_conts table tbody tr:hover{
	background: #f5f8fa;
}
.content_table .content_conts table tbody tr td{
	padding-left: 15px;
	font-size: 12px;
}

/** 索引房屋编码*/
#queryList{
	position: absolute;
	top: 40px;
    left: 0;
	height: auto;
	clear: both;
	display:none;
	min-width: 424px;
	border: 1px solid #dddddd;/* #CAE2F0; */
	background-color: #fff;
	z-index: 99;
	-moz-box-shadow:0px 0px 13px #BFBFBF;
	-webkit-box-shadow:0px 0px 13px #BFBFBF;
	box-shadow: 0px 0px 13px #BFBFBF;
	font-size: 12px;
}
#search-box {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    clear: both;
    display: block;
    min-width: 424px;
    z-index: 99;
    box-shadow: 0px 0px 0 #BFBFBF;
    padding: 0;
    background: #fff;
}
#search-box input[type="text"]{
	width: 100%;
	height: 34px;
	border: none;
	border-bottom: 1px solid #ddd;
	text-indent: 10px;
	outline: none;
	background-color: #f8f8f8;
}
#search-show{
	min-height: 34px;
}
.search-tisp{
	color: #666;
	line-height: 34px;
	text-indent: 10px;
}
#queryList table { width: 100%;}
#queryList table tr{ border-bottom: 1px solid #e6e6e6;}
#queryList table tbody>tr:HOVER,tr.item-hover{background-color: #e1eff7;cursor: pointer;}
#queryList table tr th{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	padding: 0 10px;
    height: 34px;
    text-align: left;
}
#queryList table tr td{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	padding: 0 10px;
    height: 34px;
    text-align: left;
}
/** 索引房屋编码end*/

/** 显示窗口*/
.model-mark{
	opacity: 1.03;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.model-content{
    position: fixed;
    left: 50%;
    top: 35%;
	background-color: white;
    width: 700px;
    border: 1px solid transparent;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: -350px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 2000;
    -moz-box-shadow: 0px 0px 16px #666;
    -webkit-box-shadow: 0px 0px 16px #666;
    box-shadow: 0px 0px 16px #666;
}
.model-drag{
	position: relative;
    height: 44px;
    line-height: 44px;
    text-align: left;
    text-indent: 20px;
    cursor: default;
    border-bottom: 1px solid #e1e1e1;
    background-color: #FAFAFA;
}
.model-drag>span{
    font-size: 16px;
}
.model-drag>i {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: url("../../image/del2.png") no-repeat;
    cursor: pointer;
}
/****/
/** 显示窗口*/
.model-mark{
	opacity: 1.03;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.model-content{
    position: fixed;
    left: 50%;
    top: 35%;
	background-color: white;
    width: 700px;
/*     height: 500px; */
    border: 1px solid transparent;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: -350px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 2000;
    -moz-box-shadow: 0px 0px 16px #666;
    -webkit-box-shadow: 0px 0px 16px #666;
    box-shadow: 0px 0px 16px #666;
}
.model-drag{
	position: relative;
    height: 44px;
    line-height: 44px;
    text-align: left;
    text-indent: 20px;
    cursor: default;
    border-bottom: 1px solid #e1e1e1;
    background-color: #FAFAFA;
}
.model-drag>span{
    font-size: 16px;
}
.model-drag>i {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: url("../image/del2.png") no-repeat;
    cursor: pointer;
}
.model-main{
	position: relative;
    padding: 20px;
    width: 95%;
    min-width: 375px;
    max-height: 470px;
    overflow-y: auto !important;
}
.model-main-mark{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20;
    opacity: 0.5;
}
.model-main-content{
    position: absolute;
    top: 45%;
    left: 50%;
    display: block;
    width: 260px;
    height: 120px;
    background: #1ABC9C;
    font-size: 26px;
    margin: -150px;
    padding: 27px 20px;
    color: #fff;
    border-radius: 20px;
    z-index: 21;
}
.model-main-content .sub-option{
    display: inline-block;
    position: relative;
    top: 30px;
    padding: 6px 12px;
    margin: 0px 7px;
    border-radius: 4px;
    background: #fff;
    color: #000;
    cursor: pointer;
}
/****/
.model-main dl.main-box-list dt.item{width: 75px !important;}
.model-main dl.main-box-list dd.item{min-width: 230px !important;}
.model-main dl.main-box-list dd.tisp {
	margin-left: 85px !important;
	line-height: 18px !important;
    height: 24px !important;
    text-align: left !important;
}
.boxList-more{border-top: 1px solid #ddd;border-radius: 19px;}
.boxList-more>legend{
    display: block;
    margin: 0 auto;
    padding: 4px 16px;
    border: 1px solid #1ABC9C;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    background: #1ABC9C;
    color: #fff;
}

/****/
.model-search{
	position: relative;
    width: 100%;
}
.model-search>.fa-search{
	position: absolute;
    top: 10px;
    left: 10px;
    font-size: 17px;
    color: #1ABC9C;
    z-index: 10;
}
.model-search:AFTER{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.model-search>input[type="text"] {
	position: relative;
    width: 82%;
    height: 40px;
    border: 2px solid #1ABC9C;
    text-indent: 30px;
    outline: none;
    float: left;
    border-radius: 4px;
}
.model-search>input[type="button"] {
	 position: relative;
    width: 16%;
    height: 34px;
    border: 1px solid transparent;
    outline: none;
    float: right;
    background-color: #1abc9c;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.model-search>input[type="button"]:HOVER{
	background-color: #1ccca9;
}
.model-list{
	position: relative;
    border: 1px solid #ddd;
    width: 643px;
    height: 334px;
    margin-top: 10px;
}
.model-list table{width: 100%; font-size: 12px;}
.model-list table tr{}
.model-list table tbody>tr:HOVER{ background-color: #e1eff7;cursor: pointer;}
.model-list table tr th{
	height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.model-list table tr td{
	height: 36px;
    line-height: 36px;
    text-align:center;
    border-bottom: 1px solid #e1e1e1;
}
.model-footer{
	position: relative;
	height: 30px;
	line-height: 30px;
    width: 100%;
    text-align: center;
}
.model-footer:AFTER{ content: "";display:block;height: 0;clear: both;visibility: hidden;}
.foot-left{
    position: relative;
	width: 24px;
    height: 24px;
    line-height: 24px;
    top: 6px;
    float: left;
    margin-right: 6px;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 3px; 
    -webkit-border-radius:3px; 
    border-radius: 3px;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.state-no{font-size: 20px;color: #888;}
.state-ok{font-size: 20px;color: #1F96FF;}
.state-ok:HOVER,#pagaGo:HOVER{
	background-color: #1F96FF !important;
	color: #fff !important; 
	cursor: pointer;
}
#pagaText {
	background: #fff;
	border: 1px solid #ddd;
	height: 22px;
	width: 22px;
}
#pageNo1.bak{
    background: #1F96FF;
    border: 1px solid transparent;
    height: 22px;
    width: 22px;
    line-height: 18px;
    border-radius: 3px;
    color: #fff;
}
#pageNo{
	background: #fff;
	border: 1px solid #ddd;
}
.foot-right{
    position: relative;
    float: right;
    height: 24px;
    line-height: 24px;
    font-size:12px;
    top: 6px;
    margin-right: 6px;
}
/*==========[转租][s]==========*/
.main-nav-b{
	position: relative;
	height: 49px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding-top: 6px;
	padding-left: 10px;
}
.main-nav-b .nav-item{
	display: block;
	float: left;
	width: 80px;
	text-align: center;
	padding: 10px 12px;
	cursor: pointer;
	font-weight: bold;
	color: #34495e;
	border: 1px solid #fff;
	border-top: 2px solid #fff;
}
.main-nav-b .nav-item-focus{
	position: relative;
	border: 1px solid #ddd !important;
	border-top: 2px solid #2980B9 !important;
	border-bottom: 1px solid #fff !important;
	bottom: -2px;
}

/**==重新定制=start=**/
input.form-control,textarea.form-control{
	float: left;
	display: block;
	width: 180px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #BDC6CF;
    border-radius: 4px;
    outline: none;
}
select.form-control{
	float: left;
	display: block;
	width: 180px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #BDC6CF;
    border-radius: 4px;
    outline: none;
}
.form-control[required] { background-color: #fdf7f7!important;}
label.form-control{
	float: left;
	display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
}
hr{
	display: block;
	clear: both;
	border: none;
}
dl.main-box-list dt.item{
	display: block;float: left;line-height: 34px;height: 34px;width: 120px;text-align: right;
}
dl.main-box-list dt.item .item-titile{
	font-size: 14px;
	color: #000;
}
dl.main-box-list dd.item{
	position: relative;
    display: block;
    float: left;
    margin-left: 10px;
    min-width: 300px;
    max-width: 760px;
}
dl.main-box-list dd.tisp{
	clear: both;
	display: block;
	margin-left: 130px;
	line-height: 24px;
	min-height: 28px;
}
button.from-data {
    display: block;
    float: left;
    padding: 0 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #3E97C9;
    color: #fff;
    cursor: pointer;
}

.tisp{
	color:#E74C3C;
	font-size: 12px;
}

dl.main-box-bottom {
	width: 100%;
	padding: 10px 0;
	clear: both;
	margin: 0;
}
#list-more{
	position: relative;
    width: 860px;
    background-color: #f9f9f9;
    border: 1px solid #e3e3e3;
    margin-bottom: 28px;
    margin-left: 20px;
}
#more-btn{
	position: absolute;
    top: -12px;
    right: 8px;
    text-align: center;
    width: auto;
    padding: 3px 14px;
    background-color: #CAE2F0;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    z-index: 10;
    color: #fff;
}
#more-box{
	position: relative;
	display: none;
    padding-top: 28px;
    height: 192px;
}
.item-left{
    display: block;
    float: left;
    margin-left: 10px;
}
/**==重新定制=end=*/

/**===点击更多====*/
.more{
	width: 50%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin: 0 auto;
	border: 2px dotted #1ABC9C;
	cursor: pointer;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.dateTime{
	margin-left: 10px;
	float: left;
	height: 40px;
	line-height: 40px;
}

.dateTime li{
	display: block;
	padding: 0 20px;
	float: left;
}

.dateTime .click{
	background: #1ABC9C;
	color:#FFF;
}

.timeClick {
    padding: 0 20px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
}
.mouseDown {
    color: #FFF;
    background-color: #1ABC9C;
    margin-right: 0px;
}

/* =======筛选条件======= */
.dateTimeTitle{
	display: block;
    width: 100%;
    height: 40px;
    position: relative;
    border: 1px solid #1ABC9C;
    float: left;
}
.dateTimeTitle i.icon-calendar{
    position: absolute;
    top: 11px;
    left: 8px;
    z-index: 11;
    color: #3498db;
    font-size: 16px;
}
.dateTimeTitle .dateTimeContent{
	width: 167px;
	height: 40px;
	line-height: 40px;
	margin-left: 31px;
	position: relative;
}
.dateTimeTitle .dateTimeContent .dateTime1{
	width: 76px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    top: 0px;
    left: -2px;
    border: none;
    outline: none;
}
.dateTimeTitle .dateTimeContent .dateTimeC{
	width: 1px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 9px;
    left: 80px;
    border: 0;
    background-color: #ddd;
}
.dateTimeTitle .dateTimeContent .dateTime2{
	width: 76px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    top: 0px;
    left: 86px;
    border: 0;
    outline: none;
}

.timeClick{
	padding:0 20px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	cursor: default;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.mouseDown{
	color:#FFF;
	background-color: #1ABC9C;
	margin-right: 0px;
}

.jselect{
	padding:0 20px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color:#666;
	cursor: default;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    position: relative;
}
.jselectDown{
	color:#FFF;
	background-color: #1ABC9C;
}
.jselect i{
	display: block;
    content: ' ';
    position: absolute;
    left: 40px;
    top: 40px;
    display: none;
    border-width: 8px;
    border-style: solid;
    border-color: #1ABC9C transparent transparent;
}

.selectDiv{
	width: 100%;
	margin-bottom: 10px;
	border: 1px dashed #ACCBE0;
	display: none;
}
.selectDiv .button{
	width: 100%;
	height: 30px;
	margin: 5px;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.selectDiv ul{
	width: 100%;
	height: 30px;
}
.selectDiv ul li{
	padding: 0 15px;
	float: left;
	margin-right: 5px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}
.selectDiv ul .buttonTitle{
	color: #FFF;
	background-color: #3498db;
}
.selectList{
	width: 100%;
	height: 96px;
	margin: 0 5px 5px 5px;
	position: relative;
}
.selectList ul{
	height: 25px;
	line-height: 25px;
	position: relative;
	margin: 3px 0;
}
.selectList ul li{
	padding:0;
	height: 25px;
	line-height: 25px;
}
.closeLi{
	position: absolute;
	left: 403px;
}
.selectList .titles{
	color: #E74C3C;
}

.selectList .content .contentText{
	width: 220px;
	border: 0;
	height: 25px;
	line-height: 25px;
	color: #F39C12;
	border: 1px solid #ACCBE0;
}
.selectCeng{
	width: 200px;
	height: 162px;
	background-color: #FFF;
	position: absolute;
	top: 24px;
	left: 39px;
	z-index: 100;
	margin-right: 0;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.14);
	border: 1px solid #ddd;
	display: none;
}
.selectCeng li{
	text-indent: 5px;
	width: 100%;
	margin-right: 0;
	cursor: default;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.selectCeng li:hover{
	background-color: #eee;
}
.inputTime{
	width: 0; 
	display: none;
}