.msg{
	color: #FF1800;
}

.addButton-icon {
	width: 35px;
    height: 30px;
    margin-top: 4px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    padding-top:7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    background-color: #3498DB;
    color: #FFF;
    margin-left: 10px;
    border-radius:5px;
}
.addButton-icon:before {
	margin-left:9.4px;
    content: "\f067";
    font-size: 20px;
    cursor:pointer;
}

#main-box-content{
	position: relative;
    margin-bottom: 20px;
    padding: 30px 20px 0 20px;
    height: auto;
    background: #fff;
}
#main-box-content .content-title {
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px solid #cae2f0;
	padding: 0 20px;
	margin-bottom: 30px;
	color: #100F0F;
}
/***/
dl.content-dl{}
dl.content-dl dt{
	position: relative;
	float: left;
    height: 36px;
    line-height: 36px;
    width: 120px;
    text-align: right;
    font-size: 14px;
    padding-right: 10px;
}
dl.content-dl dt em{
	position: relative;
	top: 2px;
	margin-right: 8px;
	font-size: 14px;
	color: #FF1800;
}
dl.content-dl dd{
	position: relative;
    width: 320px;
    line-height: 36px;
    font-size: 14px;
	float: left;
}
dl.content-dl dd.msg{
	position: relative;
	clear: both;
	margin-left: 130px;
    width: 320px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
	float: left;
}
select.from-data {
	display: block;
	float: left;
	width: 180px;
	height: 34px;
	line-height: 34px;
	padding: 0 12px;
	margin-top: 2px;
	font-size: 14px;
	color: #555;
	background-color: #fff;
	border: 1px solid #BDC6CF;
	border-radius: 4px;
}
input[type="text"].from-data {
	display: block;
	float: left;
	width: 180px;
	line-height: 32px;
	padding: 0 12px;
	margin-top: 2px;
	font-size: 14px;
	color: #555;
	border: 1px solid #BDC6CF;
	border-radius: 4px;
}
textarea.from-control {
	display: block;
	float: left;
	width: 334px;
	max-width: 334px;
	height: 80px;
	max-height: 80px;
	padding: 10px 12px;
	margin-top: 2px;
	font-size: 14px;
	color: #555;
	border: 1px solid #BDC6CF;
	border-radius: 4px;
}
input[type="button"].from-data,input[type="submit"].from-data {
	display: block;
    float: left;
    width: 90px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 3px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #3E97C9;
    color: #fff;
    cursor: pointer;
}
.from-data-state{
	color: #FF1800;
	margin-left: 10px;
}

#desc-box{
	min-height: 36px;
}
#desc-box>label{
	height: 36px;
    display: inline-block;
    margin-right: 8px;
    font-size: 14px;
    color: #069;
}
#desc-box>label>input[type="radio"]{
	position: relative;
	top: 2px;
}
/***/
input.from-data,textarea.from-data{
	float: left;
	display: block;
	width: 180px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #BDC6CF;
    border-radius: 4px;
    outline: none;
}

select.from-data{
	float: left;
	display: block;
	width: 180px;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #BDC6CF;
    border-radius: 4px;
    outline: none;
}
.from-data[readonly] { background-color: #edeff1 !important;}
.from-data[required] { background-color: #fdf7f7 !important;}
button.from-data{
    display: block;
    float: left;
    padding: 0 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #3E97C9;
    color: #fff;
    cursor: pointer;
}
/** 索引房屋编码*/
#queryList{
	position: absolute;
	top: 40px;
    left: 0;
	height: auto;
	clear: both;
	display:none;
	min-width: 424px;
	border: 1px solid #dddddd;/* #CAE2F0; */
	background-color: #fff;
	z-index: 99;
	-moz-box-shadow:0px 0px 13px #BFBFBF;
	-webkit-box-shadow:0px 0px 13px #BFBFBF;
	box-shadow: 0px 0px 13px #BFBFBF;
	font-size: 12px;
}
#search-box {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    clear: both;
    display: block;
    min-width: 424px;
    z-index: 99;
    box-shadow: 0px 0px 0 #BFBFBF;
    padding: 0;
    background: #fff;
}
#search-box input[type="text"]{
	width: 100%;
	height: 34px;
	border: none;
	border-bottom: 1px solid #ddd;
	text-indent: 10px;
	outline: none;
	background-color: #f8f8f8;
}
#search-show{
	min-height: 34px;
	font-size: 12px;
}
.search-tisp{
	color: #666;
	line-height: 34px;
	text-indent: 10px;
}
#queryList table { width: 100%; font-size: 13px;}
#queryList table tr{ border-bottom: 1px solid #e6e6e6;}
#queryList table tbody>tr:HOVER,tr.item-hover{background-color: #e1eff7;cursor: pointer;}
#queryList table tr th{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	padding: 0 10px;
    height: 34px;
    text-align: left;
}
#queryList table tr td{
	overflow:hidden;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	white-space:nowrap;
	padding: 0 10px;
    height: 34px;
    text-align: left;
}
/** 索引房屋编码end*/
/** 显示窗口*/
.model-mark{
	opacity: 1.03;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.model-content{
    position: fixed;
    left: 50%;
    top: 35%;
	background-color: white;
    width: 700px;
/*     height: 500px; */
    border: 1px solid transparent;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    margin-left: -350px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 2000;
    -moz-box-shadow: 0px 0px 16px #666;
    -webkit-box-shadow: 0px 0px 16px #666;
    box-shadow: 0px 0px 16px #666;
}
.model-drag{
	position: relative;
    height: 44px;
    line-height: 44px;
    text-align: left;
    text-indent: 20px;
    cursor: default;
    border-bottom: 1px solid #e1e1e1;
    background-color: #FAFAFA;
}
.model-drag>span{
    font-size: 16px;
}
.model-drag>i {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 35px;
    height: 35px;
    background: url("../image/del2.png") no-repeat;
    cursor: pointer;
}
.model-main{
	position: relative;
    padding: 20px;
    width: 100%;
    min-width: 375px;
    max-height: 448px;
    overflow-y: auto !important;
}
.model-main-mark{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 20;
    opacity: 0.5;
}
.model-main-content{
    position: absolute;
    top: 45%;
    left: 50%;
    display: block;
    width: 260px;
    height: 120px;
    background: #1ABC9C;
    font-size: 26px;
    margin: -150px;
    padding: 27px 20px;
    color: #fff;
    border-radius: 20px;
    z-index: 21;
}
.model-main-content .sub-option{
    display: inline-block;
    position: relative;
    top: 30px;
    padding: 6px 12px;
    margin: 0px 7px;
    border-radius: 4px;
    background: #fff;
    color: #000;
    cursor: pointer;
}
/****/
.model-main dl.main-box-list dt.item{width: 75px !important;}
.model-main dl.main-box-list dd.item{min-width: 230px !important;}
.model-main dl.main-box-list dd.tisp {
	margin-left: 85px !important;
	line-height: 18px !important;
    height: 24px !important;
    text-align: left !important;
}
.boxList-more{border-top: 1px solid #ddd;border-radius: 19px;}
.boxList-more>legend{
    display: block;
    margin: 0 auto;
    padding: 4px 16px;
    border: 1px solid #1ABC9C;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8px;
    background: #1ABC9C;
    color: #fff;
}

/****/
.model-search{
	position: relative;
    width: 100%;
}
.model-search>.fa-search{
	position: absolute;
    top: 10px;
    left: 10px;
    font-size: 17px;
    color: #1ABC9C;
    z-index: 10;
}
.model-search:AFTER{
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.model-search>input[type="text"] {
	position: relative;
    width: 100%;
    height: 34px;
    border: 2px solid #1ABC9C;
    text-indent: 30px;
    outline: none;
    float: left;
    border-radius: 4px;
}
.model-search>input[type="button"] {
	 position: relative;
    width: 16%;
    height: 34px;
    border: 1px solid transparent;
    outline: none;
    float: right;
    background-color: #1abc9c;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
.model-search>input[type="button"]:HOVER{
	background-color: #1ccca9;
}
.model-list{
	position: relative;
    border: 1px solid #ddd;
    width: 658px;
    height: 334px;
    margin-top: 10px;
}
.model-list table{width: 100%; font-size: 12px;}
.model-list table tr{}
.model-list table tbody>tr:HOVER{ background-color: #e1eff7;cursor: pointer;}
.model-list table tr th{
	height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.model-list table tr td{
	height: 36px;
    line-height: 36px;
    text-align:center;
    border-bottom: 1px solid #e1e1e1;
}
.model-footer{
	position: relative;
	height: 30px;
	line-height: 30px;
    width: 100%;
    text-align: center;
}
.model-footer:AFTER{ content: "";display:block;height: 0;clear: both;visibility: hidden;}
.foot-left{
    position: relative;
	width: 24px;
    height: 24px;
    line-height: 24px;
    top: 6px;
    float: left;
    margin-right: 6px;
    text-align: center;
    font-size: 12px;
    -moz-border-radius: 3px; 
    -webkit-border-radius:3px; 
    border-radius: 3px;
    outline: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.state-no{font-size: 20px;color: #888;}
.state-ok{font-size: 20px;color: #1F96FF;}
.state-ok:HOVER,#pagaGo:HOVER{
	background-color: #1F96FF !important;
	color: #fff !important; 
	cursor: pointer;
}
#pagaText {
	background: #fff;
	border: 1px solid #ddd;
	height: 22px;
	width: 22px;
}
#pageNo1.bak{
    background: #1F96FF;
    border: 1px solid transparent;
    height: 22px;
    width: 22px;
    line-height: 18px;
    border-radius: 3px;
    color: #fff;
}
#pageNo{
	background: #fff;
	border: 1px solid #ddd;
}
.foot-right{
    position: relative;
    float: right;
    height: 24px;
    line-height: 24px;
    top: 6px;
    margin-right: 6px;
}
/*==========[转租][s]==========*/
.main-nav-b{
	position: relative;
	height: 49px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	padding-top: 6px;
	padding-left: 10px;
}
.main-nav-b .nav-item{
	display: block;
	float: left;
	width: 80px;
	text-align: center;
	padding: 10px 12px;
	cursor: pointer;
	font-weight: bold;
	color: #34495e;
	border: 1px solid #fff;
	border-top: 2px solid #fff;
}
.main-nav-b .nav-item-focus{
	position: relative;
	border: 1px solid #ddd !important;
	border-top: 2px solid #2980B9 !important;
	border-bottom: 1px solid #fff !important;
	bottom: -2px;
}