body {
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS", "幼圆", "黑体", sans-serif;
	color: #666;
	background: #f8f8f8;
}

a {
	text-decoration: none;
	color: #666;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

button {
	outline: none;
}

dl {
	margin: 0;
	width: 100%;
	overflow: hidden;
	font-size: 0.9rem;
	margin: 5px 0;
}

.i_color{
	color : rgb(210, 20, 20);
}

.bottom_footer {  
	width : 100%;
	height : 50px;
    position: fixed; /*or前面的是absolute就可以用*/  
    bottom: 0px;  
} 

.service-title{
	text-align: center;
    margin: 0px auto;
    height: 55px;
    background-color: #FFF;
	margin-left: 0%;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

.house{
	background-color: #FFF;
}
.house-list{
	height: 50px;
	line-height: 50px;
	background-color: #FFF;
	margin-left: 0%;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}
.house-list .houseInfo{
	width: 50px;
	height: 50px;
	float: right;
}
.table-qingxi{
	width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border-color: #aba5a5;
    border: solid 1px #aba5a5;
}
.house-list .houseSubmit{
	width: 40vw;
    height: 100%;
    text-align: center;
    float: right;
    background: #e66d6d;
}
.house-list .houseImage{
	width: 50px;
	height: 50px;
	float: left;
}
.house-list .houseTitle{
	float: left;
	font-size: 15px;
}
.house-list .houseImage img{
	margin-left: 30%;
    margin-top: 26%;
    width: 45%;
}
.house-list.button{
	border-bottom: none;
}
.house-list button{
	background: none;
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
}