menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 24%;
	background: #f9f9fa;
	padding-top: 10px;
	border-right: 1px solid #efefef;
}
menu button{
	width: 100%;
	height: 45px;
	line-height: 45px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #FF6666;
	color: #FFFFFF;
}

menu>li {
	position: relative;
	line-height: 46px;
	margin-right: -1px;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	border-left: 5px solid transparent;
}

menu>li.hover {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-left: 5px solid #e74c3c;
}

main {
	position: absolute;
	top: 0;
	left: 24%;
	right: 0;
	bottom: 0;
	background: #ffffff;
}

main>.main-item {
	position: relative;
    padding-top: 44px;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

main>.main-item .main-item-head {
	position: absolute;
    top: 0;
    width: 100%;
	display: flex;
	line-height: 44px;
	border-bottom: 1px solid #ddd;
}
main>.main-item .main-item-head-fixed {
    position: fixed;
    top: 0;
    left: 24%;
    right: 0;
    width: 76%;
    z-index: 2;
    padding: 0 10px;
    background: #fff;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.14);
}

main>.main-item .main-item-head .main-item-head-icon {
	position: relative;
	padding: 6px;
	padding-left: 0;
	padding-right: 10px;
}

main>.main-item .main-item-head .main-item-head-icon>img {
	display: block;
	width: 32px;
	height: 32px;
}

main>.main-item .main-item-head .main-item-head-title {
	position: relative;
	flex: 1;
    font-size: 14px;
    font-weight: bold;
}

main>.main-item .main-item-head .main-item-head-option {
	position: relative;
}

main>.main-item .main-item-head .main-item-head-option>.btn-item{
    position: relative;
    top: 4px;
    width: 24px;
    font-size: 24px;
}

main>.main-item .main-item-head .main-item-head-option>.btn-down {
    position: relative;
    height: 44px;
    width: 44px;
}

main>.main-item .main-item-head .main-item-head-option>.btn-down>i{
    font-size: 22px;
    line-height: 44px;
}
main>.main-item .main-item-head .main-item-head-option>.btn-down>.span-number{
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 22px;
    padding: 0 4px;
    min-width: 20px;
    text-align: center;
    background: #e4e4e4;
    border-radius: 12px;
    font-size: 12px;
    color: #fff;
}

main>.main-item .main-item-head .main-item-head-text{
    position: relative;
    flex: 2;
}
main>.main-item .main-item-head .main-item-head-text>input{
    width: 100%;
    line-height: inherit;
    text-align: right;
    padding-right: 10px;
}
main>.main-item .main-item-head .main-item-head-text>textarea{
    position: relative;
    width: 100%;
    font-size: 14px;
    padding: 4px 0px;
    min-height: 120px;
    resize: none;
}

main>.main-item .main-item-main {
	position: relative;
}

main>.main-item .main-item-main>dl {
	position: relative;
	display: flex;
	height: 40px;
	line-height: 40px;
}

main>.main-item .main-item-main>dl>dt {
	font-size: 14px;
	color: #000;
}

main>.main-item .main-item-main>dl>dd {
	position: relative;
	display: flex;
    flex-direction: row-reverse;
}

main>.main-item .main-item-main>dl>dd>input {
	width: 100%;
	font-size: 14px;
	line-height: inherit;
	text-align: right;
	padding-right: 10px;
}

main>.main-item .main-item-main>dl>dd .btn-item {
	position: relative;
	top: 10px;
	font-size: 21px;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
}

main>.main-item .main-item-main>dl>dd .span-item {
	position: relative;
	top: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

.checkbox-item {
	position: relative;
	display: flex;
	top: 10px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #ddd;
	font-size: 12px;
	border-radius: 10px;
	padding: 0 2px;
}

.checkbox-item-hover{
	border: 1px solid #1ABC9C;
	color: #1ABC9C;
}
.checkbox-item-hover:BEFORE{
	content: attr(data-type);
    position: relative;
    top: 0;
    line-height: 16px;
    padding: 0 2px;
}
.checkbox-item-hover:AFTER{
	content: "";
    position: relative;
    top: 0px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: 50%;
	background: #1ABC9C;
}

.checkbox-item-blur{
	border: 1px solid #F39C12;
	color: #F39C12;
}
.checkbox-item-blur:BEFORE{
    content: "";
    position: relative;
    top: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background: #F39C12;
    border-radius: 50%;
    padding: 0;
}
.checkbox-item-blur:AFTER{
    content: attr(data-type);
    position: relative;
    top: 0;
    line-height: 16px;
    padding: 0 2px;
}